[submodule "subprojects/googletest"]
	path = subprojects/googletest
	url = https://github.com/google/googletest.git
[submodule "cmake/sanitizers-cmake"]
	path = cmake/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
